
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 1600px;
    min-height: 100vh;
    line-height: 2em;
    word-spacing: 0.16em;
    letter-spacing: 0.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    width: 1600px;
    height: 70px;
    border: 5px solid rgb(0, 195, 3);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0;
}

header a {
    text-decoration: none;
    color: rgb(0, 195, 3);
    font-size: xx-large;
    margin-left: 2rem;
    margin-right: 2rem;
    transition: all 0.1s ease;
    background-color: rgb(255, 255, 255);
}

header a:hover {
    color: rgb(0, 169, 45);
    text-decoration: underline;
}

.logo-img {
    width: 4rem;
    height: 4rem;
    margin-right: 4rem;
    margin-left: 4rem;
}

.instagram {
    width: 4rem;
    height: 4rem;
}


main {
    width: 1600px;
    color: rgb(95, 255, 130);
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
    background-color: rgb(209, 255, 206);
}

.content-wrapper {
    width: 1600px;
    height: 100vh;
    position: right;
    display: flex;
    flex-direction: column;
    color: rgb(0, 255, 0);
    background-color: rgb(209, 255, 206);
    font-size: 1,5rem;
}

h1 {
    font-size: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: rgba(209, 255, 206, 0);
}

section{
    font-size: 1.5rem;
}

h1 p {
    font-size: 4rem;
}

.hero-section {
    border-bottom: 5px solid rgb(0, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 60vh;
    background-image: url(elektrarna.png);
    font-size: 2rem
}

.content-section {
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: right;
    background-color: rgb(209, 255, 206);
    color: rgb(0, 155, 0);
    padding: 3rem;
    font-size: 1,5rem;
    padding-right: 20rem;
}


.zakladatel{
    display: flex;
    flex-direction: row;
    height: 15rem;
    width: 100rem;
    padding: 1rem;
    color: rgb(196, 166, 0);
}

.jmenoz{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: 3px solid gold;
    min-width: 30rem;
    line-height: normal;
    background-color: rgb(255, 238, 169);
    height: 15rem;
}

.fotkaz{
    width: 10rem;
    height: 15rem;
    border: 3px solid gold;
}

.popisz{
    padding: 2rem;
    border: 3px solid gold;
    width: 500px;
    height: 176px;
    background-color: rgb(255, 238, 169);
    height: 192px;
    padding-top: 1rem;
}

.clen{
    display: flex;
    flex-direction: row;
    height: 15rem;
    width: 100rem;
    padding: 1rem;
}
.jmeno{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: 3px solid rgb(0, 155, 0);
    min-width: 30rem;
    line-height: normal;
    height: 15rem;
}

.fotka{
    width: 10rem;
    height: 15rem;
    border: 3px solid rgb(0, 155, 0);
}

.github{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.content-section a:hover {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

.content-section a {
    color: rgb(0, 169, 45);
    text-decoration: none;
}

.virus-section{
    color: red;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: white;
    font-size: small;
    background-image: url(vikricnik.png)
}

.popis{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: 3px solid rgb(0, 153, 0);
    width: 500px;
    height: 192px;
    padding-top: 1rem;
}